@model PizzaShop.Entity.ViewModel.OrderViewModel

<div class="modal" id="CancelOrderModalToggle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form id="CancelOrder" method="post">
                    <input type="hidden" id="Orderid" asp-for="OrderId">
                    <input type="hidden" id="CustomerId" asp-for="CustomerId">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Cancel Order Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body justify-content-center align-items-center d-flex flex-column">
                        <img src="~/images/toppng.com-warning-icon-2400x2400.png" alt="Warning" height="40" width="40">
                        <p>Are you sure you want to Cancel Order ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary CompleteBtn">Yes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




<script>
    $(document).on("submit", "#CancelOrder", function (event) {
        event.preventDefault();
        var orderId = parseInt($('#Orderid').val());

        $.ajax({
            type: "POST",
            url: "/OrderApp/CancelOrder",
            data: {
                orderId: orderId
            },
            success: function (response) {
                
                if (response.success == true) {
                    
                    toastr.success("Order Cancelled Successfully");
                    $('#CancelOrderModalToggle').modal('hide');
                    setTimeout(function () {
                        let url = "@Url.Action("Tables", "OrderApp")";
                        window.location.replace(url);
                    }, 1000);
                }
                else

                    if (response.success == false) {
                        toastr.error("Error Canceling Order");
                    }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });

    });
</script>