<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/OrderApp.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/062c911f56.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Custom Styles -->

</head>

<body>
    <div class="p-0 bg-light" id="main-part">
        <header class="d-flex align-items-center p-2 bg-primary border border-5 border-white">
            <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2" id="logo-section">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/images/logos/pizzashop_logo.png" width="60px" class="bg-white">
                    </a>
                    <span class="text-white fs-4 fw-semibold">PIZZASHOP</span>
                </div>
            </div>
            <div class="d-flex flex-grow-1 justify-content-end">
                <div class="dropdown d-flex align-items-center justify-content-center mt-2">
                    <div class="d-flex align-items-center gap-2">
                        <!-- Responsive Menu Items -->
                        <div class="orderAppBtns ">
                            <a asp-controller="OrderApp" asp-action="Kot" class="text-decoration-none text-white">
                                <span><i class="fa-solid fa-mobile-button"></i></span>
                                <span class="NameOrderApp">Kot</span>
                            </a>
                        </div>
                        @if (!User.IsInRole("3"))
                        {
                            <div class="orderAppBtns">
                                <a asp-controller="OrderApp" asp-action="WaitingList"
                                    class="text-decoration-none text-white">
                                    <span><i class="fa-solid fa-clock"></i></span>
                                    <span class="NameOrderApp"><small>Waiting List</small></span>
                                </a>
                            </div>
                            <div class="orderAppBtns">
                                <a asp-controller="OrderApp" asp-action="Tables" class="text-decoration-none text-white">
                                    <span><i class="fa-solid fa-table"></i></span>
                                    <span class="NameOrderApp">Tables</span>
                                </a>
                            </div>
                            <div class="orderAppBtns">
                                <a asp-controller="OrderApp" asp-action="MenuOrderApp"
                                    class="text-decoration-none text-white">
                                    <span><i class="fa-solid fa-bell-concierge"></i></span>
                                    <span class="NameOrderApp">Menu</span>
                                </a>
                            </div>
                        }
                    </div>
                    <!-- Profile Dropdown -->
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown">
                        <img src="" id="profileimgOrderApp" width="50px" height="50px" class="rounded-circle">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="d-flex align-items-center gap-3">
                            <img src="" id="profileimgdropOrderApp" width="40px" height="40px" alt="image"
                                    class="rounded-circle">

                                <span>
                                    <span id="nameOrderApp"></span>
                                </span>
                        </li>
                        <hr>
                        <li>
                            <a asp-controller="Users" asp-action="Profile"
                                class="dropdown-item text-decoration-none text-dark">
                                <i class="fa-solid fa-user"></i> My Profile
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Validation" asp-action="ChangePassword"
                                class="dropdown-item text-decoration-none text-dark">
                                <i class="fa-solid fa-key"></i> Change Password
                            </a>
                        </li>
                        <li>
                            <button type="submit" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#LogoutModalOrderApp">
                                <i class="fa-solid fa-right-from-bracket"></i> LogOut
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container-fluid p-4 bg-white">
            <partial name="_Notification" />
            @RenderBody()
        </div>
    </div>
</body>

</html>

<!-- modal details here -->
<div class="modal fade" id="LogoutModalOrderApp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    static-backdrop="true" keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Delete Confirmation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-2">⚠️</span>
                    <p>Are you sure you want to Logout ?</p>
                </div>
            </div>
            <div class="modal-footer border-0">
                <form method="post" asp-action="Logout" asp-controller="Validation">
                    <button type="submit" class="btn btn-outline-primary ">Logout</button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- modal details ends heres -->

<script>
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("UserProfile", "Home")",
            type: "GET",
            success: function (response) {
                var appRoot = '@Url.Content("~/")'; 
                if(response.imgUrl != null){
                var imagePath = response.imgUrl.startsWith("/")
                    ? response.imgUrl
                    : appRoot + response.imgUrl;
                }
                else {
                    var imagePath = appRoot + "images/Default_pfp.svg.png";
                }

                $("#profileimgOrderApp").attr("src", imagePath);
                $("#profileimgdropOrderApp").attr("src", imagePath);
                $("#nameOrderApp").text(response.username);
            }
        });
    });
</script>