@model PizzaShop.Entity.ViewModel.CategoryListViewModel
<div class="modal fade" id="editModalCategoryItems" tabindex="-1" aria-labelledby="editModalLabel">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="editId"
                                                    aria-label="Floating label select example" disabled>
                                                </select>
                                                <label for="editId">Categories*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editItemName"
                                                    placeholder="Name*">
                                                <label for="editItemName">Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="itemType"
                                                    aria-label="Floating label select example">
                                                    <option value="veg">Veg</option>
                                                    <option value="non-veg">Non-veg</option>
                                                    <option value="vegan">Vegan</option>
                                                </select>

                                                <label for="itemType">Item Type*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editPrice"
                                                    placeholder="Rate" value="0">
                                                <label for="editPrice">Rate*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="editQuantity"
                                                    placeholder="Quantity" value="0">
                                                <label for="editQuantity">Quantity*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <select class="form-select" id="editUnitId"
                                                    aria-label="Floating label select example">
                                                </select>
                                                <label for="editUnitId">Unit*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex align-items-center justify-content-center">
                                            <h5>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="available">
                                                    <label class="form-check-label" for="available">Available</label>
                                                </div>

                                        </div>
                                        <div class="col d-flex align-items-center justify-content-center">
                                            <h5>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch"
                                                        id="tax">
                                                    <label class="form-check-label" for="tax">Default
                                                        Tax</label>
                                                </div>
                                            </h5>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="taxpercentage"
                                                    placeholder="Tax Percentage">
                                                <label for="taxpercentage">Tax
                                                    Percentage </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="code"
                                                    placeholder="Short Code">
                                                <label for="code">Short
                                                    Code</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="editDescription" style="height: 100px"></textarea>
                                            <label for="editDescription"> Description</label>
                                        </div>
                                    </div>
                                    <div class="row ms-1">
                                        <h6>Upload Image</h6>
                                        <div class="border form-control ">
                                            <label for="EditCategoryItemPic"
                                                class="form-label d-flex gap-2 justify-content-center align-items-center pt-3 ">
                                                <img src="~/images/dining-menu.png" height="50px" width="50px"
                                                    id="image-view-categoryItem-edit" alt="">

                                                <h3><i class="bi bi-cloud-arrow-up-fill"></i>
                                                </h3>
                                                <span class="pb-2">
                                                    Drag and Drop or Browse Files
                                                </span>
                                            </label>
                                            <input type="file" class="form-control d-none" id="EditCategoryItemPic">
                                        </div>
                                        <span class="text-danger" id="ImgUrl"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 pt-3"
                                    style="background-color: antiquewhite; height: 428px; overflow: auto;">
                                    <div class="dropdown">
                                        <button class="btn mt-2 dropdown-toggle w-100 bg-white" type="button"
                                            id="EditSelectModifierInItem" data-bs-toggle="dropdown"
                                            aria-expanded="false">Select ModifierGroup </button>
                                        <ul class="dropdown-menu dropdown-checkboxes  w-100 ps-3 editModifierDropDown">
                                        </ul>
                                    </div>
                                    <div id="editModifierContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Hidden field to store item ID -->
                    <input type="hidden" id="editItemId">

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $.ajax({
        url: '/Menu/GetCategory',
        type: 'GET',
        success: function (data) {
            console.log(data);
            var s = '<option value="-1">Please select Category</option>';
            for (var i = 0; i < data.length; i++) {
                s += '<option value="' + data[i].categoryId + '">' + data[i].categoryName + '</option>'
            }
            $("#editId").html(s);
        }
    });

    $.ajax({
        url: '/Menu/GetUnitList',
        type: 'GET',
        success: function (data) {
            console.log(data);
            var s = '<option value="-1">Please select Unit</option>';
            for (var i = 0; i < data.length; i++) {
                s += '<option value="' + data[i].unitId + '">' + data[i].unitName + '</option>'
            }
            $("#editUnitId").html(s);
        }
    });

    $(document).ready(function () {

        $("#EditCategoryItemPic").change(function () {
            const file = this.files[0];
            if (file) {
                const fileName = file.name.toLowerCase();
                const validExtensions = ['.jpg', '.jpeg', '.png'];

                // Check if the file has a valid extension
                const isValidFile = validExtensions.some(extension => fileName.endsWith(extension));

                if (isValidFile) {
                    const fileReader = new FileReader();
                    fileReader.onload = function (event) {
                        $("#image-view-categoryItem-edit").attr("src", event.target.result);
                    };
                    fileReader.readAsDataURL(file);
                } else {
                    toastr.error('Please upload a valid image file (.jpg, .jpeg, .png).');
                }
            }
        });

        var itemId = $('#editItemId').val();
        $.ajax({
            url: '/Menu/GetItemDetails',
            type: 'GET',
            data: { itemId: itemId },
            success: function (data) {

                $('#editId').val(data.categoryId);
                $('#editUnitId').val(data.unitId);
                $('#editItemName').val(data.itemName);
                $('#editDescription').val(data.description);
                $('#editQuantity').val(data.quantity);
                $('#editPrice').val(data.price);
                $('#itemType').val(data.itemType);
                $('#available').prop('checked', data.isAvailable);
                $('#tax').prop('checked', data.defaultTax);
                $('#code').val(data.shortCode);
                $('#taxpercentage').val(data.taxPercentage);
                @* $('src').val(data.imageUrl); *@
                    $("#image-view-categoryItem-edit").attr("src", data.imageUrl);


                selectedModifiers = data.selectedModifiers;
                editLoadModifierGroups(selectedModifiers);
            },
            error: function (error) {

                console.log(error);
                console.error('Error fetching item details:', error);
            }
        });


        $('#editForm').submit(function (e) {
            e.preventDefault();

            document.querySelectorAll('#editModifierContainer .modifier-group-container').forEach(element => {
                const modifierId = element.id.replace('group-', '');
                const minValue = element.querySelector('#MinimumValue').value; // Get the minimum value
                const maxValue = element.querySelector('#MaximumValue').value; // Get the maximum value
                selectedModifierGroupEdit.push({
                    ModifierId: modifierId,
                    MinValue: parseInt(minValue, 10), // Ensure values are integers
                    MaxValue: parseInt(maxValue, 10),
                }); // Push modifier ID into array
            });

            var itemId = $('#editItemId').val();
            var categoryId = $('#editId').val();
            var itemName = $('#editItemName').val();
            var description = $('#editDescription').val();
            var quantity = $('#editQuantity').val();
            var price = $('#editPrice').val();
            var unitId = $('#editUnitId').val();
            var itemType = $('#itemType').val();
            var isAvailable = $('#available').prop('checked');
            var defaultTax = $('#tax').prop('checked');
            var shortCode = $('#code').val();
            var taxPercentage = $('#taxpercentage').val();
            var FormFile = $('#formfile')[0]?.files[0];

            var editFormData = new FormData();
            editFormData.append('CategoryItemId', itemId);
            editFormData.append('CategoryId', categoryId);
            editFormData.append('ItemName', itemName);
            editFormData.append('Description', description);
            editFormData.append('Quantity', quantity);
            editFormData.append('Price', price);
            editFormData.append('UnitId', unitId);
            editFormData.append('ItemType', itemType);
            editFormData.append('IsAvailable', isAvailable);
            editFormData.append('DefaultTax', defaultTax);
            editFormData.append('TaxPercentage', taxPercentage);
            editFormData.append('ShortCode', shortCode);
            if (FormFile) {
                editFormData.append('FormFile', FormFile); // Append the file only if it exists
            }
            const cleanedModifiers = selectedModifierGroupEdit.filter(modifier =>
                modifier &&
                modifier.ModifierId &&
                !isNaN(modifier.MinValue) &&
                !isNaN(modifier.MaxValue)
            );
            editFormData.append('SelectedModifiersString', JSON.stringify(cleanedModifiers));

            // Add modifiers if available
            if (selectedModifierGroupEdit && selectedModifierGroupEdit.length > 0) {
                editFormData.append('SelectedModifiersString', JSON.stringify(selectedModifierGroupEdit));
            }
            $.ajax({
                url: '/Menu/UpdateCategoryItem',
                processData: false,
                contentType: false,
                type: 'POST',
                data: editFormData,
                success: function (response) {

                    // Handle success
                    if (response.success) {

                        $('#editModal').modal('hide');
                        location.reload();
                        @* $("#editModal").hide(); *@
                    } else {
                        toastr.error('Error: ' + response.message);
                    }
                },
                error: function (response) {

                    console.log(response);
                    toastr.error('Error updating item.');
                }
            });
        });
    })

</script>