@* <div id="ExistingModifierModal">

</div> *@


@model PizzaShop.Entity.ViewModel.ExistingModifierViewModel


@* add existing modifier  *@
<div class="modal fade" id="ExistingModifier" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <form method="post" id="existingModifierItemForm">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Select Existing Modifier </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input class="form-control " type="search" placeholder="Search" name="search"
                            id="searchExistingModifierList" aria-label="Search">
                    </div>
                    <div class="responsive-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Rate</th>
                                    <th>Quantity</th>

                                </tr>
                            </thead>
                            <tbody id="existingModifierListBody">
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-white border border-primary"
                        data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>
        </div>
        <input type="hidden" id="addItemId">
    </div>
</div>


<script>
    var currentPage = 1;
    var pageSize = 5;
    var search = "";

    function restoreCheckboxSelections() {
        $('.item-checkbox').each(function () {
            let checkbox = $(this);
            let itemId = checkbox.data('id');

            // Check if this ID exists in the array
            if (tempSelectedModifiers.some(item => item.modifierItemId == itemId)) {
                checkbox.prop('checked', true);
            }
            if (arr.some(item => item.modifierItemId == itemId)) {
                checkbox.prop('checked', true);
            }
        });
    }

    function fetchExistingModifierList(currentPage, pageSize, search) {

        $.ajax({
            url: '/Menu/GetALLModifierItemDetails',
            type: 'GET',
            data: {
                page: currentPage,
                pageSize: pageSize,
                search: search
            },
            success: function (data) {

                console.log(data);

                $('#existingModifierListBody').html(data);
                 restoreCheckboxSelections();
            },
            error: function (error) {
                console.error('Error fetching item details:', error);
            }
        });
    }


    $('#searchExistingModifierList').on('change', function () {
        search = $(this).val();

        fetchExistingModifierList(currentPage, pageSize, search);
    });

</script>