@{
    ViewData["Title"] = "Change Password";
}
@model PizzaShop.Entity.ViewModel.Changepassword;

<h2 class="mt-4">Change Password</h2>

<div class="m-5 w-50">

    <form method="post" asp-action="Changepassword" asp-controller="Validation">
        <input type="hidden" asp-for="email" />
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="oldpassword" placeholder="" asp-for="Password" >
            <label for="oldpassword">Old Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="newpassword" placeholder="" asp-for="NewPassword" >
            <label for="newpassword">New Password</label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirmpassword" placeholder="" asp-for="ConfirmPassword" >
            <label for="confirmpassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-outline-primary ms-2">Cancel</button>
        </div>
    </form>

</div>