@model PizzaShop.Entity.ViewModel.WaitingListViewModel

<div class="modal fade" id="EditWaitingListUsers" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Waiting Token Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="EditWaitingListModal">
                <div class="modal-body">
                    <input type="hidden" id="editWaitingId" value="@Model.WaitingId">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control hover-effect" placeholder="">
                        <label asp-for="Email">Email</label>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="UserName" type="text" class="form-control hover-effect" placeholder="">
                        <label asp-for="UserName">Name</label>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNumber" type="number" class="form-control hover-effect" placeholder="">
                        <label asp-for="PhoneNumber">Mobile Number</label>
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>

                    <div class="row">
                        <div class="form-floating mb-3 col">
                            <input asp-for="NoOfPerson" type="number" class="form-control hover-effect" placeholder="">
                            <label asp-for="NoOfPerson"> No. of Person</label>
                            <span class="text-danger" asp-validation-for="NoOfPerson"></span>
                        </div>
                        <div class="form-floating col " style="width: 200px;">
                            <select asp-for="SectionId" class="form-select" aria-label="Floating label select example" id="EditWaitingListSelectSection">
                            </select>
                            <label asp-for="SectionId" for="EditWaitingListSelectSection">Section*</label>
                            <span class="text-danger" asp-validation-for="SectionId"></span>
                        </div> 
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>    
    $(document).ready(function(){

        $.ajax({
            url: '/OrderApp/SectionsList',
            type: 'GET',
            success: function (data) {
                console.log(data);
                var s = '<option value="-1">Please select Section</option>';
                for (var i = 0; i < data.length; i++) {
                    if (data[i].sectionId == @Model.SectionId) {
                        s += '<option value="' + data[i].sectionId + '" selected>' + data[i].sectionName + '</option>'
                    }
                    else {
                        s += '<option value="' + data[i].sectionId + '">' + data[i].sectionName + '</option>'

                    }
                }
                $("#EditWaitingListSelectSection").html(s);
            }
        });
    });
    
</script>