@{
    ViewData["Title"] = "Event Management";
}

<div class="d-sm-flex justify-content-between align-items-center ms-3 pt-4">
    <h2 class="text-header mb-3 hd-cl">Events</h2>
    <div class="d-flex gap-2 me-2 justify-content-end align-items-center">
        <select id="order-status" class="form-select " aria-label="Default select example">
            <option selected value="">All Orders</option>
            <option value="Pending">Pending</option>
        </select>


        <button id="export-Order-btn" type="button"
            class="btn btn-primary py-2 px-3 text-decoration-none rounded-1 bg-header text-white ms-1 text-nowrap me-3 d-flex justify-content-center align-items-center gap-1"
            style="height: 35px;">
            @* <img  width="24px" class=""> *@
            <i class="fa-solid fa-file-export"></i>
            <span> Export</span>
        </button>

        <a id="addEvent-btn" type="button" href="/EventManagement/AddEvent"
            class="btn btn-primary py-2 px-3 text-decoration-none rounded-1 bg-header text-white ms-1 text-nowrap me-3 d-flex justify-content-center align-items-center gap-1"
            style="height: 35px;">
            Add Event
        </a>
    </div>
</div>


<div class="d-md-flex flex-column flex-sm-row justify-content-end align-items-center gap-2 mb-3">

    <div id="has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input class="form-control " type="search" placeholder="Customer Name" name="search"
            id="searchUserList" aria-label="Search">
    </div>
    <div>
        <select id="order-status" class="form-select " aria-label="Default select example">
            <option selected value="">All Orders</option>
            <option value="Pending">Pending</option>
        </select>
    </div>
    <div class="form-floating ">
        <input type="date" name="fromDate" id="fromDate" class="form-control" placeholder="Start Date">
        <label for="fromDate">From Date</label>
    </div>
    <div class="form-floating">
        <input type="date" name="toDate" id="toDate" class="form-control" placeholder="End Date">
        <label for="toDate">To Date</label>
    </div>
    <div class="">
        <button id="search-btn" type="submit"
            class="btn btn-primary py-2 px-3 text-decoration-none rounded-1 bg-header text-white ms-1 text-nowrap">
            Search
        </button>
        <button id="clear-btn" type="button"
            class="btn border-primary rounded-0 text-primary py-2 px-3 text-decoration-none rounded-1 ms-1 me-4 text-nowrap">
            Cancel
        </button>
    </div>
</div>



<div id="order-partial" class="ms-3 me-4 table-responsive bg-white shadow">
</div>



